@-webkit-keyframes arrowUp {
    from{
        margin-top:0;
    }
    to{
        margin-top: -10px;
    }
}

@-webkit-keyframes arrowDown {
    from{
        margin-top:0;
    }
    to{
        margin-top: 10px;
    }
}

.arrowUp, .arrowDown {
  position: fixed;
  right: 2%;
  width: 40px;
  height: 40px;
  background-size: contain;
}

.arrowUp {
  background-image: url("../assets/arrowUp2.png");
  top: 45%;
  -webkit-animation: arrowUp 0.5s alternate infinite;
  cursor: n-resize;
}

.arrowDown {
  background-image: url("../assets/arrowDown2.png");
  top: 55%;
  -webkit-animation: arrowDown 0.5s alternate infinite;
  cursor: s-resize;
}
