@import url('http://fonts.googleapis.com/css?family=Ubuntu:bold');
@import url('http://fonts.googleapis.com/css?family=Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Arsenal|Special+Elite');

body {
    overflow: hidden;
    /*background: url("../assets/diving4.jpg");*/
    background-size: fit;
}

nav {
    background-color: white;
    width: 100vw;
    height: 8vh;
    z-index: 10000000;
}

h1, h2 {
    font-family: 'Special Elite', cursive;
}

ul {
    padding-left: 0;
}

li {
    cursor: pointer;
    padding-top: 1rem;
    font-family: 'Arsenal', san-serif;
    /*font-size: 20px;*/
    font-weight: 200;
}

p {
    font-size: 18px;
    font-family: 'Arsenal', sans-serif;
    line-height: 1.5;
}

.carousel {
    height: 30px;
    transform: scale(0.9);
}

.content {
    background-repeat: no-repeat !important;
    background-size: 100% 110% !important;
    /*border: 0.5rem ridge;*/
}

.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.app {
    margin: 0 auto;
}

.myModal {
    text-align: center;
    color: black;
    width: 90%;
    height: 90%;
    padding: 0 25px;
}

.profile {
    position: relative;
    left: calc(50% - 13rem);
    top: calc(50% - 13rem);
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
}

#carousel {
    position: absolute;
    top: 60px;
    padding: 0;
    margin: 0;
}

.ticTacToe, .theaa, .airlines, .animals, .world-aid {
    border: 2px outset rgba(122, 122, 122, 1);
    background-size: cover;
    margin: 5%;
    width: 90%;
    background-position: center;
}

.world-aid {
    height: 90%;
    background-image: url("../assets/worldaid.png");
}

.ticTacToe {
    height: 90%;
    background-image: url("../assets/XO.png");
}

.theaa, .airlines, .animals {
    height: 45%;
    margin: 2.5% 5%;
}

.theaa1 {
    background-image: url("../assets/theaahead.png");
}

.theaa2 {
    background-image: url("../assets/theaa.png");
}

.airlines1 {
    background-image: url("../assets/airlinessearch.png");
}

.airlines2 {
    background-image: url("../assets/airlinesseats.png");
}

.animals1 {
    background-image: url("../assets/animals1.png");
}

.animals2 {
    background-image: url("../assets/animals2.png");
}

.intro {
    /*text-shadow: 5px 5px 20px rgba(255, 255, 255, 1);*/
    position: absolute;
    text-align: center;
    left: -50%;
    color: white;
}

.introHead {
    font-size: 6rem;
}

.subIntro {
    font-size: 3rem;
}

.contact {
    padding: 5%;
    min-width: 35rem;
    /*height: 35vh;*/
    border-radius: 5%;
    border: 10px solid rgba(255, 255, 255, 0.8);
    position: absolute;
    text-align: center;
    left: -17.5rem;
    background-color: white;
}

li.navBar {
    display: block;
    margin: 0 1%;
    margin-top: -1rem;
    float: left;
    text-align: center;
    color: #000;
    height: 2rem;
    width: 18%;
    transition: color 0.3s, margin-top 0.3s, font-size 0.3s;
    box-sizing: border-box;
}

li.navBar:hover {
    /*color: #62F;*/
    /*font-size: 1.5rem;*/
    /*margin-top: -0.5rem;*/
    font-weight: bold;
}



#drop-nav {
    position: absolute;
    left: 0;
    width: 100vw;
    /*top: -2rem;*/
    background-color: white;
    display: none;
}

#drop-nav li {
    display: inline-block;
    width: calc(100vw/7);
}

.navBar ul {
    position: absolute;
    transition: top 0.5s, height 0.5s, padding-top 0.5s;
    background-color: white;
}

.navBar ul li {
    font-size: 1rem;
    color: #000;
    transition: color 0.3s;
    font-weight: normal;
}

.navBar ul li:hover {
    /*color: #62F;*/
    /*font-size: 1.5rem;*/
    font-weight: bold;
}

.contactIcons {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    top: 1rem;
}

.links {
    position: relative;
    left: calc(25% - 8rem);
}

.links a img {
    width: 4rem;
    height: 4rem;
    margin: 4rem;
}

.junglejs {
    position: relative;
    width: 30rem;
    top: 35%;
    left: calc(50% - 15rem);
}

.white-font {
    color: black;
}

.skillIcon {
    width: 20%;
    margin-left: 10%;
    margin-top: 4%;
}

.projects ul {
    background-color: white;
    width: 100vw;
    height: 8vh;
    z-index: 10000000;
    padding-left: 0;
}

.projectLinks {
    margin-top: 10vh;
    text-align: center;
}


@media (min-width: 1281px) {
    h1, h2 {
        font-size: 50px;
    }

    li {
        font-size: 22px
    }

    p {
        font-size: 18px;
    }

    .contactDetails {
        font-size: 24px;
    }
    .contact {
        width: 35rem;
        left: -17.5rem;
    }
}

@media (min-width: 721px) and (max-width: 1280px) {
    h1, h2 {
        font-size: 40px;
    }

    li {
        font-size: 18px
    }

    p {
        font-size: 13px;
    }

    .contactDetails {
        font-size: 22px;
    }
    .contact {
        width: 35rem;
        left: -17.5rem;
    }
}

@media (max-width: 720px) {
    h1, h2 {
        font-size: 25px;
    }

    li {
        font-size: 15px
    }

    p {
        font-size: 15px;
    }

    .contactDetails {
        font-size: 18px;
    }
    .contact {
        width: 40rem;
        left: -20rem;
    }

    .spinner {
        display: block;
    }

    .static-right-window, .static-right-window {
        width: 100%;
        height: 50%;
    }
}
